In [1]:
import locale

In [2]:
# set the locale for use in currency formatting
result = locale.setlocale(locale.LC_ALL, '')
if result == 'C':
    locale.setlocale(locale.LC_ALL, 'en_US')

In [3]:
# display a welcome message
print("Welcome to the Future Value Calculator")
print()

Welcome to the Future Value Calculator

In [4]:
choice = "y"
while choice.lower() == "y":

    # get input from the user
    monthly_investment = float(input("Enter monthly investment:\t"))
    yearly_interest_rate = float(input("Enter yearly interest rate:\t")) #added missing parethesis
    years = int(input("Enter number of years:\t\t"))

    # convert yearly values to monthly values
    monthly_interest_rate = yearly_interest_rate / 12 / 100
    months = years * 12 # added an extra "s" to "years" fixing mispelled variable

    # calculate the future value
    future_value = 0
    for i in range(months):
        future_value = future_value + monthly_investment
        monthly_interest_amount = future_value * monthly_interest_rate
        future_value = future_value + monthly_interest_amount

    # format and display the result
    print("Future value:\t\t\t%s" % locale.currency(
        future_value, grouping=True))
    print()

    # see if the user wants to continue
    choice = input("Continue? (y/n): ")
    print()

Enter monthly investment:	1
Enter yearly interest rate:	2
Enter number of years:		3
Future value:			$37.13

Continue? (y/n): n

In [5]:
print("Bye!")

Bye!

In [6]:
# ISIT 333 Lab Activity 1
# 9/20/2023
# Kateryna Tekmenzhi

In [7]:
print("Hello World!")

Hello World!

In [8]:
16 + 18

34

In [9]:
myName = ("Kateryna Tekmenzhi")
print ("My name is", myName)

My name is Kateryna Tekmenzhi

In [10]:
num1 = 22
num2 = 2020
print(num1 * num2)

44440

<br>

In [11]:
num3 = int(input("Enter a number: "))

Enter a number: 56

In [12]:
num4 = int(input("Enter a second number: "))

Enter a second number: 78

In [13]:
print(num3,"*", num4, "=", num3 * num4)

56 * 78 = 4368